
<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  
<!-- list contacts view -->

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-15">
            <h1><%= title %></h1>

            
            <a href="/order-list/add" class="btn btn-primary" role="button">
            <i class="fas fa-plus-circle"></i> Add New Order</a>
          

            <br>
            <br>
            <div class="table-responsive">
            <table class="table table-dark table-sm table-bordered table-striped table-hover  ">
                <!-- Header Row-->
                <tr>
                  
                    <th class="text-center col-1">ID</th>
                    <th class="text-center col-1">Date Created</th>
                    <th class="text-center col-2">Status</th>
                    <th class="text-center col-2">Customer Name</th>
                    <th class="text-center col-2">SKU</th>
                    <th class="text-center col-2">Photo</th>
                    <th class="text-center col-2">Condition</th>
                    <th class="text-center col-2">Size</th>
                    <th class="text-center col-2">Type</th>
                    <th class="text-center col-4">Origin Address</th>
                    <th class="text-center col-4">Shipping Address</th>

                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
            

                </tr>

               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
            </table>
            </div>
        </div>
    </div>
  </main>
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  


